body 
{
  /* general settings*/
  background-color: #f1faee;
  font-size: 0.8vw;
  line-height: 0.7vw;
}

h1
{
  color: #a8dadc;
  font-size: 4em;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em ;
  text-align: center;
  
}

p, h2, h3, figcaption
{
  color: #a8dadc;
  font-size: 1.5em;
  line-height: 1.5em; 
  word-spacing: -0.1em;
  text-align: left;
}

a 
{
  /* for links color8*/
  color:#e63946;
  font-size: 1.5em;
  line-height: 1.5em;
  word-spacing: -0.1em;
  text-align: left;
}

.navbar {
  /*nav bar letters settings*/
  color: #f1faee;
  font-size: 1.5em;
  line-height: 1.5em;
  word-spacing: -0.1em;
}

nav
{
  /*navigation bar styling: box*/
  border-width: 2px;
  border-color: #e63946;
  background-color: #e63946;
  border-style: solid;
  border-radius: 30px;

  padding-right: 40px;
  padding-left: 40px;

  padding-bottom: 10px;
  padding-top: 10px;

  display: flex;
  justify-content: space-around; /* Distribuye los elementos equitativamente en el contenedor */
  
}


/*links*/

a:link 
{
  /*for no text decoration on links*/
  text-decoration: none;
}

a:hover 
{
  color: #a8dadc;
  text-decoration: none;
}


/*images*/

.imageone
{
  width: 100%;
  height: auto;
  
}

main 
{
  width: 100%
}

figure 
{
  width: 25%;
  
  float: left;
  
  margin-top: 2%;
  margin-left: 2%;
}

figcaption 
{
  text-align: center;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
  figure 
  {
    width: 96%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  figure 
  {
    width: 47%;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  figure 
  {
    width: 30.5%;
  }
 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  figure 
  {
    width: 22.5%;
  }
 
}



/*video*/

.videoone{
  width: 300px;
}


/*button*/

.button
{    
  background-color: #e63946;
  color: white;
  font-size: 1.2em;
  position: fixed;
  bottom: 10px; 
  right: 10px; 
  padding: 7px 12px;
  border-radius: 30px;
}


/*table */

.contacts table {
  border-collapse: collapse;
  width: 30%;
}

.contacts table, .contacts td {
  border: 1px solid #a8dadc;
  color:#a8dadc;
  padding: 3px;
  text-align: left;

}
 .contacts th
{
  border: 1px solid #a8dadc;
  color:#a8dadc;
  
  padding: 3px;
  text-align: center;
}





