
/*typography*/ 

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Maven+Pro:wght@400..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Maven+Pro:wght@400..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Share+Tech+Mono&display=swap'); */

body 
{
  /* general settings*/
  background-color: #f1faee;
  font-size: 0.5em;
  line-height: 0.7vw;
  margin-left: 6%;
  margin-right: 6%;
  font-family: 'Poppins', sans-serif;
}

h1
{
  color: #a8dadc;
  font-size: 6em;
  line-height: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em ;
  text-align: center;
  font-family: 'Yanone Kaffeesatz' , sans-serif;
}

h2
{
  color: #e63946;
  font-size: 3em;
  font-weight: 300;
  line-height: 0.5em;
  letter-spacing: 0.1em ;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 7%;
  
}


h3
{
  color: #a8dadc;
  font-size: 2em;
  font-weight: 600;
  line-height: 1.5em; 
  letter-spacing: 0.05em;
  text-align: left;
  font-family:'Yanone Kaffeesatz' , sans-serif;
}

.titles
{
  color: #a8dadc;
  font-size: 3em;
  letter-spacing: 0.05em ;
  text-align: center;
  font-family: 'Yanone Kaffeesatz' , sans-serif;
  font-weight: 600;
}

.welcometext 

{
text-align: center;
font-size: 4em;
font-weight: 400;
letter-spacing: 0.05em ;
margin-top: 10%;
margin-left: 7%;
margin-right: 7%;

}

p, figcaption
{
  color: #a8dadc;
  font-size: 1.5em;
  line-height: 1.5em; 
  word-spacing: -0.1em;
  text-align: left;
}

a 
{
  /* for links color*/
  color:#a8dadc;
  font-size: 1.5em;
  line-height: 1.5em;
  word-spacing: -0.1em;
  text-align: left;
}


.navbar {
  /*nav bar letters settings*/
  color: #f1faee;
  font-size: 1.5em;
  line-height: 1.5em;
  word-spacing: -0.1em;
}



nav
{
  /*navigation bar styling: box*/
  border-width: 2px;
  border-color: #e63946;
  background-color: #e63946;
  border-style: solid;
  border-radius: 30px;

  padding-right: 40px;
  padding-left: 40px;

  padding-bottom: 10px;
  padding-top: 10px;

  display: flex;
  justify-content: space-around; /* Distribuye los elementos equitativamente en el contenedor */
  
}


/*links*/

a:link 
{
  /*for no text decoration on links*/
  text-decoration: none;
  
  
}

a:hover 
{
  color: #a8dadc;
  text-decoration: none;
}


/*images*/

.imageone
{
  width: 100%;
  height: auto; 
}



main 
{
  width: 100%
}

figure 
{
  width: 25%;
  
  float: left;
  
  margin-top: 2%;
  margin-left: 2%;
}

figcaption 
{
  text-align: center;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) 
{
  figure 
  {
    width: 96%;
  }

  body 
  {
    /*background-color: red;*/
    font-size: 0.7em;
  }
  .welcometext
  {
    font-size: 2em;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
  figure 
  {
    width: 47%;
  }

  body 
  {
    /*background-color: blue;*/
    font-size: 0.6em;
  }
  .welcometext
  {
    font-size: 2.4em;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
  figure 
  {
    width: 30.5%;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{
  figure 
  {
    width: 22.5%;
  }

}



/*video*/

.videoone{
  width: 90%;

}


/*button*/

footer 
{
  text-align: center;
}

.button
{    
  background-color: #e63946;
  color: white;
  font-size: 1.2em;
  position: fixed;
  bottom: 10px; 
  right: 45%; 
  padding: 7px 12px;
  border-radius: 30px;
}

.buttontwo
{    
  background-color: #e63946;
  color: white;
  font-size: 1.2em;
  bottom: 10px; 
  right: 45%; 
  padding: 7px 12px;
  border-radius: 30px;
}

.buttonthree
{    
  background-color: #e63946;
  color: white;
  font-size: 1.2em;
  bottom: 10px; 
  right: 45%; 
  padding: 7px 12px;
  border-radius: 30px;
}

.buttonfour
{    
  background-color: #e63946;
  color: white;
  font-size: 1.2em;
  bottom: 10px; 
  right: 45%; 
  padding: 7px 12px;
  border-radius: 30px;
}

.buttonfive
{    
  background-color: #e63946;
  color: white;
  font-size: 1.2em;
  bottom: 10px; 
  right: 45%; 
  padding: 7px 12px;
  border-radius: 30px;
}

.buttonsix
{    
  background-color: #e63946;
  color: white;
  font-size: 1.2em;
  bottom: 10px; 
  right: 45%; 
  padding: 7px 12px;
  border-radius: 30px;
}



/*table */

/*.contacts table {
  border-collapse: collapse;
  width: 30%;
}

.contacts table, .contacts td {
  border: 2px solid #a8dadc;
  color:#a8dadc;
  padding: 3px;
  text-align: left;

}
 .contacts th
{
  border: 1px solid #a8dadc;
  color:#a8dadc;
  
  padding: 3px;
  text-align: center;
}*/